.wrapper {
    max-width: 1200px; /* Устанавливает максимальную ширину обёртки */
    margin: 0 auto; /* Центрирует обёртку на странице, добавляя автоматические отступы по бокам */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* или height: 100%; */
}

.body {
    flex-grow: 1;
}

