.header {
  background: url('../../public/img/roses.png') no-repeat center center / cover;
  color: var(--white-color);
  position: relative;
  font-weight: var(--font-light);
  padding: 25px 25px 22px 25px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .content {
    height: 500px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        display: flex;

        .gallery {
          font-size: 15px;
        }
      }
    }
  }
}
