.page_title {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.h1 {
  margin-bottom: 0;
}

.h3 {
  padding: 15px;
}

.h4 {
  // padding: 10px;
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 550px) {
  .page_title {
    font-size: 24px;
  }
}
