.outerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-width: 300px;
}

.userDataContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
