.count_badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  color: var(--links-hover);
  font-size: 12px;
  font-weight: bold;
  min-width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;

  &.dark {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}
