.main {
  padding: 25px 25px 22px 25px;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .content_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .filter_button,
      .sort_button {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        height: 40px;
        color: var(--text-color);
        letter-spacing: 1.2px;
      }

      .sort_button {
        cursor: not-allowed;
        opacity: 0.5;
      }

      .catalog_title {
        flex-grow: 1;
        text-align: center;
      }
    }

    .button_container {
      display: flex;
      gap: 30px;
      justify-content: space-between;
      margin: 15px 0;
    }

    .painting_list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: center;

      .skeleton_container {
        margin: 15px;
        height: 200px;
        width: 200px;

        .skeleton_item {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 15px;
          background-color: #e0e0e0;
        }
      }
      .skeleton_list_item {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 890px) {
  .main {
    .content {
      .painting_list {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 550px) {
  .main {
    .content {
      .content_header {
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        .catalog_title h1 {
          // order: 1;
          margin-bottom: 0px;
          // color: red;
          // font-size: 24px;
        }

        .filter_button,
        .sort_button {
          margin-top: 10px;
          text-align: center;
          width: 100px;
          height: 30px;
          margin-top: 0;
        }

        .filter_button {
          // order: 2;
          // width: 100%;
        }

        .sort_button {
          // order: 3;
          // width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .main {
    .content {
      .button_container {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .main {
    .content {
      .content_header {
        .filter_button {
          width: 80px;
        }
      }
    }
  }
}
