
.footer {
  background: url('../../public/img/roses.png') no-repeat center center / cover;
  color: var(--white-color);
  position: relative;
  font-weight: var(--font-light);
  padding: 25px 25px 22px 25px;

  a, .address p {
    margin-bottom: 16px;
  }

  .address {
    font-style: normal;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    padding-left: 25px;

    a {
      transition: color 0.3s ease;
    }

    a:hover {
      color: red;
    }
  }

  .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .nav, address {
      display: flex;
      flex-direction: column;
    }
  }

  .rights {
    text-align: center;
  }
}

.nav, .address {
  width: 33%;
}


@media screen and (max-width: 624px) {

  .footer {
    .menu {
      .nav, address {
        align-items: center;
        width: 100%;
      }
    }
  }
}
