.details_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_item {
  display: flex;
  gap: 5px;
  margin: 0;
}

.label {
  color: var(--silver-color);
}

.reproduction_link {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;

  &:hover {
    color: var(--links-hover);
    transition: color 0.5s ease;
  }
}
