.details_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info_item {
  display: flex;
  gap: 5px;
  margin: 0;
}

.label {
  color: var(--silver-color);
}

// Закомментированные стили для будущей ссылки
.reproduction_link {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
  align-self: flex-start;

  &:hover {
    color: var(--links-hover);
    transition: color 0.5s ease;
  }
}

.reproduction_button {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
  background: none;
  border: 1px solid var(--silver-color);
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font: inherit;
  align-self: flex-start;

  &:hover {
    color: var(--links-hover);
    border-color: var(--links-hover);
    transition: all 0.3s ease;
    background: none;
  }
}
