@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  margin: 0;
  padding: 0;
  color: var(--silver-color);
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}


@font-face {
  font-family: 'EkaterinaVelikaya', Arial, sans-serif;
  src: url('../../public/fonts/ekaterina-velikaya-two.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
