@import 'variables';
@import 'normalize';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--silver-color);
  font-family: var(--font-family);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'EkaterinaVelikaya';
  src: url('../../public/fonts/EkaterinaVelikayaTwo.woff2') format('woff2');
  src: url('../../public/fonts/EkaterinaVelikayaTwo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src:
    url('../../public/fonts/Oswald-Regular.woff2') format('woff2'),
    url('../../public/fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src:
    url('../../public/fonts/../../public/fonts/Oswald-Light.woff2')
      format('woff2'),
    url('../../public/fonts/../../public/fonts/Oswald-Light.woff')
      format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src:
    url('../../public/fonts/../../public/fonts/Oswald-ExtraLight.woff2')
      format('woff2'),
    url('../../public/fonts/../../public/fonts/Oswald-ExtraLight.woff')
      format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src:
    url('../../public/fonts/Oswald-Medium.woff2') format('woff2'),
    url('../../public/fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

.btn_reset {
  margin: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.list_reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
