.main {
  padding: 25px 25px 22px 25px;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .paintings_list {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px 0;
    }

    .loading,
    .error {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 200px;
      font-size: var(--font-size-l);
    }

    .error {
      color: var(--error-color);
    }
  }
}

@media screen and (max-width: 890px) {
  .main {
    .content {
      .paintings_grid {
        justify-content: center;
      }
    }
  }
}
